@model tskmProject.Models.Knowledgebase

@{

}

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Knowledgebase</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
               @Html.LabelFor(model => model.knowledgeTitle, "ชื่อเรื่อง")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.knowledgeTitle)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Catagory.catagoryName, "ประเภทความรู้")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Catagory.catagoryName)
            </dd>
                
            <dt>
                @Html.LabelFor(model => model.knowledgeDetail, "รายละเอียด")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.knowledgeDetail)
            </dd>
    
            <dt>
                @Html.LabelFor(model => model.knowledgeDate, "วันที่สร้าง")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.knowledgeDate)
            </dd>
    

    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("กลับสู่เมนูหลัก", "Index")
            </div>
        }
    </div>

