@model tskmProject.Models.Knowledgebase

@{

}

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Knowledgebase</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.knowledgeTitle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.knowledgeTitle)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.knowledgeDetail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.knowledgeDetail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.knowledgeDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.knowledgeDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Catagory.catagoryName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Catagory.catagoryName)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>

