@model tskmProject.Models.Knowledgebase
@{
    ViewBag.Title = "แสดงรายละเอียด";
}

<div class="row">
    <h3 class="page-header">รายละเอียดใบความรู้</h3>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <br />
        <dl class="dl-horizontal">
            <dt class="col-md-4">
                @Html.LabelFor(model => model.knowledgeTitle, "ชื่อเรื่อง")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.knowledgeTitle)
            </dd>
            <dt class="col-md-4">
                @Html.LabelFor(model => model.knowledgeDetail, "ประเภทความรู้")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Catagory.catagoryName)
            </dd>
            <dt class="col-md-4">
                @Html.LabelFor(model => model.knowledgeDetail, "รายละเอียด")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.knowledgeDetail)
            </dd>
            <dt class="col-md-4">
                @Html.LabelFor(model => model.knowledgeDate, "วันที่สร้าง")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.knowledgeDate)
            </dd>
            <br />
            <p class="col-md-4">
                @Html.ActionLink("ตอบ", "Comment", new { id = Model.knowledgeID }) |
                @Html.ActionLink("กลับสู่เมนูหลัก", "Index")
            </p>
        </dl>
    </div>
</div>
@foreach (var item in Model.KnowledgeComment)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            ตอบกลับโดย @item.User.userFname
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>เมื่อ</dt>
                <dd>@item.commentDate</dd>
                <dt>ข้อความ</dt>
                <dd>@item.commentDetail</dd>
            </dl>
        </div>
    </div>
}
@using (Html.BeginForm("Comment", "Knowledgebases"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);
    <div class="panel panel-info">
        <div class="panel-heading">
            <b>เพิ่มความคิดเห็น</b>
        </div>
        <div class="panel-body">
            @Html.Hidden("knowledgeID", @Model.knowledgeID)
            <div class="form-group">
                <label>รายละเอียด:</label>
                @Html.TextArea("replyDetail", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">ตอบ</button>
            </div>
        </div>
    </div>

}