@model tskmProject.Models.Ticket

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Ticket</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.ticketTitle, "เรื่อง")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ticketTitle)
            </dd>
    
            <dt>
                @Html.LabelFor(model => model.Catagory.catagoryName, "ประเภทใบงาน")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Catagory.catagoryName)
            </dd>

            <dt>
                @Html.LabelFor(model => model.ticketDetail,"รายละเอียด")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ticketDetail)
            </dd>
    
            <dt>
                @Html.LabelFor(model => model.ticketDate, "วันที่เปิดใบงาน")
            </dt>
                
            <dd>
                @Html.DisplayFor(model => model.ticketDate)
            </dd>

            <dt>
                @Html.LabelFor(model => model.User.userFname, "ผู้เปิดใบงาน")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.userFname)
            </dd>
        
            <dt>
                @Html.LabelFor(model => model.Status.statusName, "สถานะ")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Status.statusName)
            </dd>
   
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("กลับสู่เมนูหลัก", "Index")
            </div>
        }
    </div>
</body>
</html>
