@model IEnumerable<tskmProject.Models.Ticket>

@{
    ViewBag.Title = "รายการใบงาน";
}

<div class="row">
    <h3 class="page-header">รายการใบงาน</h3>
</div>
@Html.ActionLink("สร้างใบงาน", "Create", null, new { @class = "btn btn-default", role = "button" })

<br />
<br />

        <table class="table table-striped">
    <tr>
        <th>รหัสใบงาน</th>
        <th>ชื่อใบงาน</th>
        <th>ประเภทใบงาน</th>
        <th>ผู้สร้าง</th>
        <th>วันที่สร้างใบงาน</th>
        <th>สถานะใบงาน</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => @String.Format("{0:D5}", item.ticketID))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ticketTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catagory.catagoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.userFname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ticketDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.statusName)
            </td>

            <td>
                @Html.ActionLink("แก้ไข", "Edit", new { id = item.ticketID }, new { @class = "btn btn-info", role = "button" }) |
                @Html.ActionLink("แสดงรายละเอียด", "Details", new { id = item.ticketID }, new { @class = "btn btn-info", role = "button" }) 
                
            </td>
        </tr>
    }

</table>

