@model tskmProject.Models.KnowledgeComment

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>KnowledgeComment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.commentDetail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.commentDetail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.commentDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.commentDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Knowledgebase.knowledgeTitle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Knowledgebase.knowledgeTitle)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User.userFname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User.userFname)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.commentID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
